<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>GlyficaBG</string>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Glyfica needs the camera to photograph your palm for a reading.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Glyfica needs photo access so you can choose a palm picture for a reading.</string>
</dict>
</plist>
